body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    color: #eee;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0d0d0d;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
a {
  color: inherit;
  text-decoration: none;
}
.a, .a:visited {
  color: #ffd299;
  text-decoration: none;
}
.a:hover, .a:focus, .a:active {
  color: #ffd299;
  text-decoration: underline;
}
::selection, ::-moz-selection {
  background: cyan !Important;
  color: white;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    filter: drop-shadow(0px 0px 3px #0d0d0d);
}
@media screen and (max-width: 721px) {
    .navbar,
    .navbar-li {
        position: relative;
    }
}
.navbar-li {
    float: left;
}

.navbar-li-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Lato;
}

.navbar-li-a:hover:not(.active) {
    color: #9999ff;
}

.navbar-img {
    float: right;
    height: 46px;
}

.item-box {
  width: 320px;
  height: 300px;
  max-width: 98%;
  background: #111;
  margin: 20px;
  display: inline-block;
  overflow: visible;
  position: relative;
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 15px;
}
.item-box:hover {
  filter: drop-shadow(0px 0px 4px #000);
}
.item-box-img-in {
  height: 180px;
  margin-top: .4rem;
}
.item-box-img {
  max-width: 95%;
  max-height: 95%;
  filter: drop-shadow(0px 0px 1px #000);

}
.item-box-title {
  font-size: 1.5rem;
  width: 93%;
  max-width: 93%;
  display: block;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  background: linear-gradient(to right, rgba(153, 153, 255, .0), #9999ff, #8888ff, #8888ff, #8888ff, #8888ff, #8888ff, #9999ff, rgba(153, 153, 255, .0));
  font-weight: bold;
  padding-top: .205rem;
  padding-bottom: .185rem;
}
.item-box-title-text {
  filter: drop-shadow(0px 0px 1px #333);
}
.item-box-update {
  flex: 1;
  position: absolute;
  bottom:0;
  right:0;
  margin: 5px;
  margin-right: 8px;
  color: #7c7c7c;
}
.page-img-div {
  margin: 1rem;
  width: 800px;
  max-width: 90%;
  background: #111;
  padding: .5rem;
  display: inline-block;
  height: 33.1rem;
  position: relative;
}

.page-desc-div {
  display: inline-block;
  width: 20rem;
  height: 33.1rem;
  max-height: auto;
  max-width: 100%;
  background: #111;
  margin-top: 1.0rem;
  vertical-align: top;
  position: relative;
  font-size: 1.02rem;
}
.page-desc-div-title {
  font-size: 2rem;
  display: block;
  margin-top: .7rem;
  font-weight: bold;
}
.page-desc-div-title-text {
  filter: drop-shadow(0px 0px 1px #333);
}
.page-desc-div-link {
  padding-top: .3rem;
  display: block;
  padding-bottom: .7rem;
  border-bottom: 1px solid #8888ff;
  max-width: 90%;
  margin-bottom: 1rem;
}
.page-desc-desc {
  white-space: pre-line;
}
/*.page-desc-button {
  position: absolute;
  background-color: #7777ff;
  border: none;
  color: white;
  width: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-bottom: 1.3rem;
  height: 3rem;
  font-size: 1.9rem;
}
.page-desc-button:hover {
  background-color: #6666ff;
  transition: ease .2s;
}*/
.page-desc-button {
  background: #7777ff;
  color: white;
  margin-left: 1rem;
  margin-bottom: 1.3rem;  font-size: 1.4rem;
  width: 90%;
  bottom: 0;
  position: absolute;
  font-size: 1.9rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  left: 0;
  right: 0;
  filter: drop-shadow(0px 0px 1px darkgrey);
  cursor: pointer;
  border: 0px;
  border-left:.4rem solid #6666ff;
  background: linear-gradient(to left, #8888ff 50%, #6666ff 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
}
.page-desc-button:hover {
  filter: drop-shadow(0px 0px 2px darkgrey);
  background-position: left;
}
.page-updatelog {
  background: #111;
  width: 50rem;
  max-width: 90%;
  margin-top: 2rem;
  text-align: center;
  padding-top: .5rem;
  margin-bottom: 5rem;
}
.page-updatelog-title {
  font-size: 3rem;
  display: block;
  border-bottom: 1px solid #ffd299;
  width: 90%;
}
.page-updatelog-box {
  height: 20rem;
  text-align: left;
  margin-top: 1rem;
  background: #1a1a1a;
  width: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border-bottom: 1rem solid #111;
}

* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Caption text */
.img-desc {
  color: #f2f2f2;
  font-size: 1.1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  filter: drop-shadow(0px 0px 1px #000) drop-shadow(0px 0px 1px #444) ;
}
/* The dots/bullets/indicators */
.vline {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 2px;
  background-color: #444;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.1s ease;
  margin-bottom: .5rem;
}
.active, .dot:hover {
  background-color: #9999ff;
}

/**********
* About CSS
**********/
.about-bg {
    background: #111;
    margin-top: 25px;
    max-width: 80%;
    max-height: auto;
    text-align: left;
}
.about-question {
    text-decoration: underline;
    padding-top: 20px;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
}
.about-text-div {
  width: 95%;
  text-align: left;
}
.about-text {
    font-size: 1.05rem;
    margin-left: 15px;
}

/* help */
.help-text-soon {
    transition: .1s ease;
}
.help-text-soon-long {
    transition: 5s ease;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.help-button {
  background: #8888ff;
  color: white;
  margin-left: 15px;
  font-size: 1.4rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  filter: drop-shadow(0px 0px 1px darkgrey);
  cursor: pointer;
  border: 0px;
  border-left:.4rem solid #6666ff;
  background: linear-gradient(to left, #8888ff 50%, #6666ff 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
}
.help-button:hover {
  filter: drop-shadow(0px 0px 2px darkgrey);
  background-position: left;
}
.help-button-text {
  filter: drop-shadow(0px 0px 0px #000);
}
.smalltext {
  font-size: .7rem;
  color: #555
}
.navbar-li .active {
  color: #1a1a1a !important;
}
.fa-browser-css {
  padding-right: .2rem;
}
.help-browser {
  width: 8rem;
  height: 10rem;
  background: #222;
  padding: 0px;
  border: 1px solid #444;
  max-width: 98%;
  margin: 20px;
  display: inline-block;
  overflow: visible;
  position: relative;
  filter: drop-shadow(0px 0px 2px #000);
  border-radius: 15px;
  overflow: hidden;
}
.help-browser:hover {
    filter: drop-shadow(0px 0px 4px #000);
    border-color: #8888ff;
    color: #8888ff;
}
.help-browser-button {
  background: #1a1a1a;
  width: 100%;
  border: 0px;
  margin-top: .8rem;
  height: 100%;
  font-size: 1.3rem;
  color: #eee;
  cursor: pointer;
  border: 0px;
}

.help-browser-name {
  margin-top: .32rem;
  display: block;
}
.help-browser .fa-chrome,
.help-browser .fa-firefox-browser {
  font-size: 6rem;
  margin-top: .6rem;
}
.help-question {
    padding-top: 20px;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
}
.download {
  background: transparent;
  width: 45rem;
  padding-top: 2rem;
  overflow: hidden;
  padding-left: .7rem;
  padding-right: .7rem;
  border-bottom: 1px solid #8888ff;
}
.side1 {
  width: 50%;
  background: transparent;
  float: left;
  height: 12.5rem;
  text-align: justify;
}
.side2 {
  width: 50%;
  float: right;
  height: 12.5rem;
  vertical-align: middle;
}
.other1 {
  font-size: 2rem;
}
.other2 {
  background: #8888ff;
  color: white;
  margin-left: 15px;
  font-size: 2rem;

  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  filter: drop-shadow(0px 0px 1px darkgrey);
  cursor: pointer;
  border: 0px;
  border-left:.4rem solid #6666ff;
  background: linear-gradient(to left, #8888ff 50%, #6666ff 50%) right;
  background-size: 200%;
  transition: .2s ease-out;
  float: right;
}
.other2:hover {
  filter: drop-shadow(0px 0px 2px darkgrey);
  background-position: left;
}
.stylus-svg {
  max-height: 90px;
    margin-top: .6rem;
}
